<!DOCTYPE html>
<html>
<head>
  <title>Fireworks!</title>
  <style>
    body {
      background: #000;
      overflow: hidden;
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100vh;
    }

    .firework {
      position: absolute;
      width: 4px;
      height: 4px;
      animation: firework 1s linear infinite;
    }

    @keyframes firework {
      0% {
        transform: translate(calc(50vw - 2px), calc(100vh - 2px)) scale(0);
      }
      15% {
        transform: translate(calc(50vw - 2px), calc(100vh - 2px)) scale(1);
      }
      85% {
        transform: translate(calc(50vw + (var(--x) / 2) - 2px), calc((var(--y) / 2.5) - 2px)) scale(1);
      }
      100% {
        transform: translate(calc(50vw + var(--x) - 2px), calc(var(--y) - 2px)) scale(0);
      }
    }
  </style>
</head>
<body>
  <h1>Hello</h1>

  <script>
    for (let i = 0; i < 300; i++) {
      let div = document.createElement('div');
      div.classList.add('firework');
      div.style.setProperty('--x', (Math.random() - 0.5) * 100 + 'vw');
      div.style.setProperty('--y', Math.random() * 100 + 'vh');
      div.style.setProperty('--t', Math.random() * 1 + 's');
      div.style.animationDelay = Math.random() * 3 + 's';
      div.style.backgroundColor = 'hsl(' + (i % 360) + ', 100%, 50%)';
      document.body.appendChild(div);
    }
  </script>
</body>
</html>

